.shop {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-bg-color);
}

.shop__products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  align-content: flex-start;
}

@media screen and (max-width: 1300px) {
  .shop__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 660px) {
  .shop__products {
    grid-template-columns: auto;
  }
}
