.cart-wrapper {
  position: sticky;
  top: 75px;
}

.cart {
  position: absolute;
  right: 20px;
  background-color: var(--light-bg-color);
  border: 1px solid var(--dark-green-color);
  width: 300px;
  max-width: 300px;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--dark-gray-color);
  max-height: calc(100vh - 75px);
  overflow: auto;
}

.cart__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  border-bottom: 1px solid var(--dark-green-color);
}

.cart__item-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__item-name {
  font-size: 1.25rem;
}

.cart__item-price {
  width: fit-content;
  background-color: #b1eca9;
  padding: 5px;
  border-radius: 5px;
}

.cart__item-quantity-wrapper {
  margin-top: 5px;
}

.cart__item-quantity {
  width: 65px;
}

.cart__total-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.cart__total-price-value {
  width: fit-content;
  background-color: #ecdea9;
  padding: 5px;
  border-radius: 5px;
}

.cart_hidden {
  display: none;
}

.cart__remove-item-btn:hover {
  background-color: #d10000;
  box-shadow: 0 0 5px var(--dark-bg-color);
}

.cart__remove-item-btn,
.cart__remove-item-btn:active {
  width: 32px;
  height: 32px;
  padding: 3px;
  cursor: pointer;
  background-color: #b90000;
  border: none;
  border-radius: 50%;
}

.cart__empty-text {
  padding: 10px;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.cart__checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.cart__checkout-btn:hover {
  background-color: var(--light-green-color);
}

.cart__checkout-btn,
.cart__checkout-btn:active {
  cursor: pointer;
  width: 130px;
  padding: 10px;
  background-color: var(--dark-green-color);
  border: none;
  border-radius: 5px;
  color: var(--light-font-color);
  text-transform: uppercase;
  font-weight: bold;
}
