.cart {
  position: absolute;
  top: 60px;
  right: 35px;
  background-color: var(--light-bg-color);
  border: 1px solid var(--dark-bg-color);
}

.cart__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.cart__item:not(.cart__items:first-child) {
  border-top: 1px solid var(--dark-bg-color);
}

.cart__item-quantity {
  width: 65px;
}
