.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background-color: var(--dark-bg-color);
  user-select: none;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navbar__link {
  color: var(--light-font-color);
  font-size: 2rem;
  text-decoration: none;
}

.navbar__link_active {
  border-bottom: 2px solid var(--light-font-color);
}

.navbar__cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.navbar__cart-icon:hover {
  background-color: var(--light-hover-color);
  cursor: pointer;
}

.navbar__cart-svg {
  width: 60%;
}

.navbar__cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 48px;
  width: 3ch;
  height: 3ch;
  color: var(--light-font-color);
  background-color: darkred;
  border-radius: 50%;
  font-weight: bold;
}
